{% extends 'basics/base.html' %}

{% block title %}About {% endblock %}

{%block body%}

<h4>ABOUT:</h4>
<p>
Real estate is the property, land, buildings, air lights above the land and underground rights below the land. The
term real estate means real, or physical, property.”Real” comes from the Latin root res, or things.The real estate
industry encompasses the many facets. Including development appraisal marketing, selling, leasing
and management of commercial, industrial, residential, and agricultural properties.The Real Estate Web Application
is an interactive, effective and revenue-generating website designed for the Real
Estate Industry. The main objective of this application is to help the Real Estate Company to display unlimited
number of property listings on the website. The primary focus is to get familiar to .NET framework and code with
ASP.NET and c#.NET to provide a featured GUI which contains sophisticated search engine for buyer’s to search for
property listing specific to their needs.<br>
Real Estate Web Application is to enable the buyer to search for property listing online. The motive of developing
this application is to design a features rich search engine which can make the search of commercial land/properties
an easytask. This web site is real estate web application to maintain all the property details. Our site mainly
deals with property. In dealing with property two fields are mandatory. Those are owner and customer registration.
There are large numbers of commercial real estate online information services providers offering a suite of
commercial properties and services tailored to the national and local needs of the commercial investments
industry.<br>
properties for sale and lease under various categories including commercial office space,
industrial, single family,multi family, land, etc both for sale and lease as well. Usually in a real estate websites, the
property search page consists of traditional search style i.e. a set of textboxes to select a particular for the property to
search along with other web controls to specify the number of beds / bath or any additional features they are
looking in the property. Real Estate portals are professional looking and powerful portals, basically used to deal with rich
functionalities for the seller, buyer and real estate agents to list properties for sell or rent, search in the
database. It includes a powerful back office application providing full control over the web site for the real
estate portal i.e. seller, agents, statistics to the administrator. Now a day’s services has become online globally,
we tend to style property portal taking user perspective flexibility, with advance solutions and day by day change
on single platform, we offer complete solutions as well as real estate agents sites, property agents sites, property
listing sites, property get and sell, and lots of additional. Real Estate Web Application is a complete real estate
business management software. It is designed for the real estate industry. Now a days when everything is online, how
is it possible that real estate left web application behind? There are lots of real estate companies who advertise
their property online so idea behind developing this application is that their property can also sell, or buy or
even rent property using this. These application are not widely popular but in future, they have large scope of
growth. Here the admin user can inform their agents for regarding to property and the update the information
regarding property and cancelation of property or changing buyer choice.

The real estate web application provides functionalities for both seller and buyer. The buyer can browse the website
without any security and they can search for houses based on state/city/price/features. For the seller, a security
issue is added. The seller needs to create an account in the system and every time he logs in, He can then delete
any of these, and he can add new one.<br>

This Web Application may include some of functionalities are as follows:
1. The buyer can search for properties according to detailed information :
property/bedrooms/bathrooms/city/states/additional features.<br>

2. A seller can create an account in the system, and each seller has username and a password.<br>

3. When a buyer clicks the link for each listed item, he will be redirected to a page that lists the details
information for this house</p>



{% endblock %}