{% extends 'basics/base.html' %}
{%load static%}
{%block title%}REAL ESTATE {%endblock%}
{%block body%}


<style>
    #cardcontainer {
        margin-left: 4%;
        width: 20rem;
    }

    #cardcontainer img {
        height: 200px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        {% for property in properties%}
        <div class="card mb-3" id="cardcontainer">
            <form action="">
                {%csrf_token%}
                <input type="hidden" name="id" value="{{property.id}}">
                <button formaction="pview" formmethod="GET" type="submit" class="btn">
                    <img class="card-img-top" src="/media/{{property.image}}" alt="">
                </button>
            </form>
            <div class="card-body">
                <h4 class="card-title">
                    <p class="card-text">For {{property.property_type}}</p>
                </h4>
                <p class="card-text">{{property.project_name}}</p>
                <p class="card-text">{{property.description}}</p>
                <p class="card-text"><b>price Rs : </b>{{property.price}}</p>
            </div>
            <div class="card-footer">
                <form action="pview" method="GET">
                    {%csrf_token%}
                    <input type="hidden" name="id" value="{{property.id}}">
                    <button type="submit" class="btn btn-outline-primary"> veiw details </button>
                    <button type="submit" formaction="edit" formmethod="POST" class="btn btn-outline-primary">
                        Edit </button>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#exampleModal">Delete
                    </button>
                </form>

            </div>
        </div>
        {%endfor%}
    </div>
</div>


<!-- MODAL  FOR  DELETING  PROPERTY -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"> delete wich you want
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for property in properties%}
                <form action="">
                    {%csrf_token%}
                    <!-- <div class="modal-footer"> -->
                    <input type="hidden" name="id" value="{{property.id}}">
                    <p><b>{{property.project_name}}</b></p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" formaction="delete" formmethod="POST">Delete</button>
                    <hr>
                    <!-- </div> -->
                </form>
                {%endfor%}
            </div>

        </div>
    </div>
</div>
{%endblock%}